@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 27 63% 98%;
    --foreground: 27 76% 4%;
    --muted: 207 28% 92%;
    --muted-foreground: 207 0% 26%;
    --popover: 27 63% 98%;
    --popover-foreground: 27 76% 4%;
    --card: 27 63% 97%;
    --card-foreground: 27 76% 3%;
    --border: 27 15% 89%;
    --input: 27 15% 89%;
    --primary: 27 65% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 65% 41%;
    --secondary-foreground: 0 0% 100%;
    --accent: 207 65% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 85% 27%;
    --destructive-foreground: 4 85% 87%;
    --ring: 27 65% 41%;
    --chart-1: 27 65% 41%;
    --chart-2: 207 65% 41%;
    --chart-3: 207 65% 41%;
    --chart-4: 207 65% 44%;
    --chart-5: 27 68% 41%;
    --radius: 0.5rem;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
  .dark {
    --background: 27 43% 2%;
    --foreground: 27 40% 97%;
    --muted: 207 28% 8%;
    --muted-foreground: 207 0% 74%;
    --popover: 27 43% 2%;
    --popover-foreground: 27 40% 97%;
    --card: 27 43% 3%;
    --card-foreground: 27 40% 98%;
    --border: 27 15% 15%;
    --input: 27 15% 15%;
    --primary: 27 65% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 207 65% 41%;
    --secondary-foreground: 0 0% 100%;
    --accent: 207 65% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 85% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 27 65% 41%;
    --chart-1: 27 65% 41%;
    --chart-2: 207 65% 41%;
    --chart-3: 207 65% 41%;
    --chart-4: 207 65% 44%;
    --chart-5: 27 68% 41%;
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
